@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #6a0dad;
  color: #e2e8f0;
  margin: none;
  /* background-image: url(./assets/background.jpg); */
}

.colors {
  color: #0f172a;
  color: #e2e8f0;

  color: #6366f1;

  color: #8b5cf6;

  color: #10b981;

  color: #1e293b;
  color: #94a3b8;

  color: #1e293b;
  color: #e2e8f0;
}
